name: Build and Push Docker Images to GHCR

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build-web:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push NetMailArchiver.Web
        uses: docker/build-push-action@v6
        with:
          # Kontext ist das Repo-Root
          context: ./
          # Dockerfile relativ zum Root
          file: ./NetMailArchiver.Web/Dockerfile
          push: true
          tags: |
            ghcr.io/knabbermann/netmailarchiver-web:latest
            ghcr.io/knabbermann/netmailarchiver-web:${{ github.sha }}
